{{page/nav-bar dashboard="agents-dashboard" user=model.currentUser}}
<div class="container">
  {{#support-requests/list queryOptions=model.queryOptions as |list|}}
    <div class="panel-heading">
      {{list.recordCount}} Support requests
    </div>
    <div class="panel-body">
      {{#each list.model as |sr|}}
        {{support-requests/list-item-agent list=list supportRequest=sr}}
      {{/each}}
    </div>
  {{/support-requests/list}}
</div>
